
<style>
        h2,a{
            color:red;
            text-align: center;
        }

        a{
            font-size: 20px;
        }
        .container{
            margin-top: 50px;
            margin-left: -150px;
        }
        .image-container{
            width: 60px;
            margin:0px auto;
        }
        @media only screen and (max-width: 768px) {
            .container{
                margin-left:-2px;
            }
        }
        .panel-default{
            color:#464647;
        }
        .nav-div{
            display:inline-block;
            margin-bottom: 20px;
    
        }
        .nav-div h4{
            /*padding-right: 10px;*/
            display:inline;
        }

        a:hover{
            color:gray;
        }
    </style>
    <div class="container" style="margin-left:0px">
  <div class="nav-div col-md-12" style="padding-left:80px ">
        <h4><a href="#">Gonoreja</a> |</h4>
        <h4><a href="#">Sifilis</a> |</h4>
        <h4><a href="#">Hlamidija</a> |</h4>
        <h4><a href="#">Trihomonijaza</a> |</h4>
        <h4><a href="#">Genitalni herpes</a> |</h4>
        <h4><a href="#">Humani papiloma virus</a> |</h4>
        <h4><a href="#">Hepatitis B</a> |</h4>
        <h4><a href="#">HIV / AIDS / SIDA</a></h4>
    </div>
                
            <h2>Gonoreja
                </h2>
                <div class="image-container">
                    <img src=  "assets/images/blodDropIcon.png" alt="no_image" height="50px" width="50px">
                </div>
            <div class="panel panel-default">
              <div class="panel-heading"> <h4>Opis</h4><br>
   
                </div>
                    <div class="panel-body">Sifilis je bakterijska bolest koja, ako se ne liječi na vrijeme, može dovesti do oštećenja na nervnom sistemu, srcu, mozgu i čak do smrti.
                </div>
                <hr>
                
                <div class="row">
                    <div class="col-md-12 pull-left panel-heading">
                            <h4>Kako se prenosi?</h4><br>
                            <div class="panel-body">
                                    Nezaštićen seksualni odnos (vaginalni, oralni, analni).
                                    Sa zaražene majke na dijete tokom porođaja.
                                    Direktan kontakt s ranicom koja sadrži uzročnike sifilisa.
                                    Korištenje zajedničkih igala i predmeta..
                                    
                            </div>
                            <hr>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12 pull-left panel-heading">
                                <h4>Kako prepoznati?</h4><br>
                                <div class="panel-body">
                                        Sifilis ima 3 stadija i može imati različite simptome ili nijedan.
                                        3 dana do 3 mjeseca nakon izloženosti pojavljuju se bezbolne ranice na mjestu ulaska bakterije (npr. vanjski spolni organi, vagina, u ustima, grlu). Ova ranica se često ne primijeti, traje oko mjesec dana i i zaraste, ali to nije izliječenje! Uzročnik sifilisa ostaje u organizmu. 
                                        U drugom stadiju se može pojaviti opća slabost te osip na različitim dijelovima tijela (npr. tamne mrlje na dlanovima i tabanima, povećanje limfnih čvorova, groznica, bol u mišićima. Osip i ranice su visoko i zarazne! (ovo djeluje konfuzno malo) Treći stadij se razvija 10 godina od zaraze i može oštetiti svaki organ uključujući mozak.
                                </div>
                                <hr>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12 pull-left panel-heading">
                                <h4>Ima li sifilisa kod nas?</h4><br>
                                <div class="panel-body">
                                        Nekada je bio češći nego sad, ali to ne znači da ga nema. Najčešće se javlja kod mladih od 20 do 29 godina.
    
                                </div>
                                <hr>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12 pull-left panel-heading">
                                <h4>Kako spriječiti?</h4><br>
                                <div class="panel-body">
                                        Biti vjeran jednom partneru i koristiti kondom pri svakom odnosu. S obzirom da se uzročnici mogu nalaziti u ranicama na koži ili sluzokoži drugih dijelova tijela, ovakva zaštita nije dovoljna. Spolno aktivnim osobama se iz tog razloga preporučuju redovni ljekarski pregledi gdje se mogu testirati na sifilis. Liječiti se moraju oba partnera. 
    
    
                                </div>
                                <hr>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12 pull-left panel-heading">
                                <h4>Kome se obratiti?
                                    </h4><br>
                                <div class="panel-body">
                                        Pri najmanjoj sumnji, otići svom ljekaru porodične medicine ili ginekologu. Imaj na umu da ponoviš testiranje na sifilis ako si se testirao/la manje od 3 mjeseca nakon rizičnog spolnog odnosa i rezultat je bio negativan.
    
    
    
                                </div>
                                <hr>
                        </div>
                </div>
            </div>
          </div>