<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="title">Kalkulaator</h1>
    </div>
    <div class="panel-body" >
        <p class="text"> Ja sam:</p>
        <label class="container text">Muškog spola
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
          </label>
        <label class="container text">Ženskog spola
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
    </div>
</div>
1.	Ja sam:
Muškog spola 0
Ženskog spola 1
2.	Imam spolne odnose s:
Osobama suprotnog spola 1
Osobama istog spola 2
Osobama oba spola 3
3.	U posljednja tri mjeseca imao/la sam:
0 spolnih partnera 0
1-2 spolna partnera 1
3	– 5 spolnih partnera 2
6 ili više spolnih partnera 3
4.	U posljednja 12 mjeseca imao/la sam:
0 spolnih partnera 0
1-2 spolna partnera 1
3 – 5 spolnih partnera 2
6 ili više spolnih partnera 3
5.	Da li je moguće da je Vaš partner imao spolni odnos s drugom osobom u istom periodu dok je imao odnose s Vama?
Da 1
Ne 0
6.	Tokom spolnih odnosa u vezi:
Nikad ne koristim kondome 4
Ponekad koristim kondome 3
Često koristim kondome 2
Uvijek koristim kondome 1
Nisam bio/la u vezi 0
7.	Tokom spolnih odnosa van veze:
Nikad ne koristim kondome 3
Ponekad koristim kondome 2
Često koristim kondome 1
Uvijek koristim kondome 0

8.	Ja i/ili moj partner/i koristimo alkohol ili psihoaktivne droge tokom ili prije spolnih odnosa.
Da 1
Ne 0

9.	Ja i/ili moj partner/i smo koristili droge intravenski:
Da 1
Ne 0

10.	Prakticiram sljedeće spolne odnose bez zaštite:
Oralne 1
Vaginalne 1
Analne 1






