Sve bakterijske spolno prenosive bolesti pravovremeno primijećene su izlječive.
Najčešća spolno prenosiva bolest na svijetu je hlamidija.
Neliječene gonoreja i hlamidija mogu uzrokovati neplodnost kod žena.
Sve spolno prenosive bolesti povećavaju rizik od HIV infekcije.


Koristiti kondom pri svakom spolnom odnosu.
Ograniči broj svojih seksualnih partnera! Ne zaboravi da jedan spolni odnos s osobom znači i spolni odnos sa svim osobama s kojima je ta osoba imala odnos.
Pitaj svog partnera da li je moguće da ima spolno prenosivu bolest.
Izbjegavaj dirati ranice na spolnim organima!
testiraj se svake godine na gonoreju i hlamidiju ukoliko si mlada osoba od 

Liječiti se moraju oba partnera!!!

