
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="title"><img style="height: 45px;" src="images/danger.png"> Rizično ponašanje podrazumijeva:</h1>
    </div>
    <div class="panel-body" >
        <p class="text"> </p>
        <ul class="text">
                <li>Nezaštićeni seksualni odnos (oralni, vaginalni ili analni odnos bez kondoma ili odnos pri kojem je došlo do pucanja- oštećenja kondoma)</li>
                <li>Dijeljenje sa drugim osobama, odnosno zajedničko korištenje šprice ili igle prilikom ubrizgavanja narkotika</li>
                <li>Sumnja na loše higijenske uslove prilikom procesa tetoviranja</li>
                <li>Korištenje usluga seksualnih radnica/radnika i često mijenjanje partnera</li>
                <li>Bilo koji doticaj sa krvlju i krvnim produktima, a za koju nije poznat status</li>
        </ul>
    </div>
    </div>

    
<div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="title"><img style="height: 45px;" src="images/search.png">  Odgovorno spolno ponašanje:</h1>
        </div>
        <div class="panel-body" >
            <p class="text"> Odgovorno seksualno ponašanje podrazumijeva zaštitu sebe i drugih od seksualno prenosivih infekcija ili bolesti i neplaniranih trudnoća.
                </p>

            <ul class="text">Odgovorno spolno ponašanje je:
                    <li>A (eng. abstinence) - apstinencija ili kasnije stupanje u spolne odnose</li>
                    <li>B (eng. be faithful) - vjernost jednom partneru</li>
                    <li>C (eng. condom) - koristi kondom pri svakom odnosu</li>
            </ul>

            <ul class="text">Vakcinacija:
                    <li>protiv hepatits B virusa</li>
                    <li>protiv HPV-a</li>
                 </ul>
            <ul class="text">Ljekarski pregledi
                    <li>Žene: Redovni ginekološki pregledi</li>
                    <li>Muškarci: Pri sumnji na spolno prenosivu bolest posjeta ljekaru porodične medicine, dermatovenerologu ili urologu.
                        </li>
            </ul>
            <ul class="text">Higijena vanjskih spolnih organa </ul>
            <ul class="text">Edukacija</ul>
        </div>
        </div>
        
        
        
