
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="title">Prevention</h1>
    </div>
    <div class="panel-body" >
        <p class="text"> Rizično ponašanje podrazumijeva:</p>
        <ul class="text">
                <li>Nezaštićeni seksualni odnos (oralni, vaginalni ili analni odnos bez kondoma ili odnos pri kojem je došlo do pucanja- oštećenja kondoma)</li>
                <li>Dijeljenje sa drugim osobama, odnosno zajedničko korištenje šprice ili igle prilikom ubrizgavanja narkotika</li>
                <li>Sumnja na loše higijenske uslove prilikom procesa tetoviranja</li>
                <li>Korištenje usluga seksualnih radnica/radnika i često mijenjanje partnera</li>
                <li>Bilo koji doticaj sa krvlju i krvnim produktima, a za koju nije poznat status</li>
        </ul>
    </div>
    </div>